@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@200;300;500;600&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
}

::selection{
    background-color: #ff5d56;
    color:#222222;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(16, 15, 15);
    color: white;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
/* font-family: 'Lato', sans-serif; */
}
.nav{
    width: 100%;
    height: 13vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
}
.nav .logo{
    width: 40%;
    font-size: 30px;
    font-family: 'Berkshire Swash', serif;
}
.nav .logo #lf{
    color:#ff5d56;
}
.nav .menu{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hamburger{
    display: none;
    border: 1px solid white;
    padding: 5px 10px 5px 10px ;
}
.nav .menu a{
    font-weight: 400;
    
    font-size: small;
    text-decoration: none;
    color: rgb(225, 223, 223);
}
.nav #drop_menu{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.464);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13vh;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    display: none;
   
}
.nav #drop_menu a{
    font-weight: 400;
    
    font-size: small;
    text-decoration: none;
    color:white;
}
.nav .menu a:hover{
    color: #ff5d56;
}
.landing_page{
    background-image: url('./back1.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing_page .side_text{
    width: 50%;
    height: fit-content;
    line-height: 55px;
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 12vh;
    overflow: hidden;
}
.landing_page .side_text h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color:rgb(242, 242, 242)
}

.landing_page .side_text .animated_text{
    padding:10px 0px 20px 0px ;
}
.landing_page .side_text .animated_text::after{
    content: "Web Developer....";
    color: #ff5d56;
    font-size: 8vmin;
    padding: 10px 0px 30px 0px;
    animation: text_change 9s infinite;
}
@keyframes text_change {
    0%{
        content: "Web Developer....";
    }
    33.3%{
        content: "Frontend Developer";
    }
    66.6%{
        content: "FullStack Developer";
    }

}

.landing_page .side_text .black{
    width: 76vmin;
    height: 10vmin;
    background-color: black;
    position: absolute;
    animation: side 3s infinite;
    border-left: 2px solid white;
}

@keyframes side {
    0%{
        left: 76vmin;
    }
    30%{
        left: 0vw;
    }
    60%,100%{
        left: 76vmin;
    }
}

.landing_page .side_text p{
    width: 80%;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: gray;
    font-size: larger;
}
.landing_page .side_text a{
    text-decoration: none;
    color:white;
    width: fit-content;
    height: fit-content;
}
.landing_page .side_text a button{
    width: 30vmin;
    height: 100%;
    padding: 20px ;
    background-color: transparent;
    color: white;
    border: 2px solid white;
   
    border-radius: 5px 5px 5px 5px;

}

.landing_page .side_text a button:hover{
    color:#ff5d56;
    border: 2px solid #ff5d56;
}


#about{
    width: 100vw;
    height: 115vh; 
    background-color: #111111;
    /* overflow: hidden; */
}
#about .about_welcome_content{
    width: 100%;
    height: 20%;
    padding-top: 5%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
   
}

#about .about_welcome_content #heading_name{
    color: #ff5d56;
    font-family: 'Berkshire Swash', serif;
}
#about .about_welcome_content #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -15px;
}
#about .about_content{
    display: flex;
    padding: 2% 8% 2% 8%;
    gap: 50px;
}
#about .about_content .image_section{
    width: 700px;
    position: relative;
}

#about .about_content .image_section img{
    width: 100%;
    position: absolute;
    height: 56vh;
    object-fit: cover;
    /* display: none; */

}
#about .about_content .image_section .image_border{
    /* z-index: 10; */
    position: absolute;
    border: 1px solid white;
    height: 55vh;
    width: 100%;
    left: 8px;
    top:15px;
    opacity: 0.1;
}
#about .about_content .text_section{
    color: gray;
}
#about .about_content .text_section h6{
    margin: 20px 0px 20px 0px;
    width: 50px;
    height: 5px;
    background-color:#ff5d56;
}
#about .about_content .text_section p{
    font-size: large;
}

#about .about_content .text_section .about_hilights{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 30px;
    width: 100%;
    height: 27%;
}
#about .about_content .text_section .about_hilights i{
    color:#ff5d56;
}



#services{
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    background-color:#151515;
    padding-top: 6vw;
    padding-bottom: 6vw;
}
#services .serv_welcome_text{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

#services .serv_welcome_text #heading_name{
    color: #ff5d56;
    display: flex;
    justify-content: center;
    font-family: 'Berkshire Swash', serif;
}
#services .serv_welcome_text h4{
    color: gray;
    padding-top: 10px;
}
#services .serv_welcome_text #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -30px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

#services .serv_box_container{
    /* background-color: red; */
    width: 80%;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#services .serv_box_container .serv_container{
    width: 25vw;
    height: fit-content;
    /* background-color: green; */
    /* padding: 1px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 69;
}
.serv_container .hover{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #ff5d56;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}
.serv_container .hover2{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ff5d56;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}
.serv_container:hover .hover{
    height: 100%;
}
.serv_container:hover .hover2{
    width: 100%;
}
.serv_container .iinn{
    margin:1px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 69;
}
.serv_container .iinn i{
    color:#ff5d56;
    font-size: 50px;
    padding: 20px;
    /* z-index: 69; */
}
.serv_container .iinn h3{
    font-weight: 400;
    padding-bottom: 20px;
}
.serv_container .iinn p{
    color:gray;
    font-size: 14px;
    text-align:center;
    /* text-justify:distribute; */
}


#resume{
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}

#resume .res_welcome_content{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    padding-top: 5vw;
    /* padding-bottom: 10vw; */
}
#resume .res_welcome_content #heading_name{
    color: #ff5d56;
    font-family: 'Berkshire Swash', serif;
}
#resume .res_welcome_content h4{
    color: gray;
}
#resume .res_welcome_content #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -15px;
}

#resume .res_container{
    width: 100vw;
    height: 60vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#resume .res_container .res_cara_all{
    width: 40%;
    height: fit-content;
    /* padding: 5%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    /* background-color: wheat; */
}

#resume .res_container .res_cara_all .cara_btn{
    background-color: #ff5d56;
    width: 150px;
    padding: 15px;
    margin-bottom: 30px;
}
#resume .res_container .res_cara_all .cara{
    width: 97%;
    height: fit-content;
    
    /* position: relative;
    top: 30px; */
    overflow: hidden;
    
}
.cara .cara_inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* gap:20px; */
    animation:slide 18s infinite;
    margin-top: 20px;
}
@keyframes slide {
0%,29% {
    transform: translateX(0);
}
32%,61% {
    transform: translateX(-103.9%);
}
64%,93% {
    transform: translateX(-207.8%);
}

100% {
    transform: translateX(0);
}
}
.cara_items {
    width: 89%;
    height: 100%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 0 0 auto;
    padding: 30px;
    font-family: 'Inter', sans-serif;
}
.cara_items .year{
    padding: 20px 0px 10px 0px; 
    color:#ff5d56;
}
.cara_items .edu{
    padding: 0px 0px 10px 0px; 
    font-weight: 400;
}
.cara_items p{
    padding: 0px 0px 10px 0px; 
    font-weight: 200;
    font-size: 15px;
    color:gray;
    line-height: 25px;
}
.lower{
    width: 80vw;
    height: 50vh;
    /* padding: 10vw; */
    /* background-color: red; */
    display: flex;
}
.lower .ratings{
    /* background-color: red; */
    width: 50%;
    height: 100%;
}
.lower .ratings .rating_btn{
    background-color:#ff5d56;
    width: 150px;
    padding: 15px;
    margin-bottom: 40px;
}
.lower .ratings .rating_content{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.rating_content .rating{
    width: 20vw;
    height: 70px;
    /* background-color: rgb(0, 255, 136); */
    line-height: 25px;
    font-size: large;
}
.lower .achivements{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
.lower .achivements .achive_btn{
    background-color:#ff5d56;
    width: 150px;
    padding: 15px;
    margin-bottom: 40px;
}
.achive_cards{
    width: 100%;
    
    /* background-color: red; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}
.achive_cards .card{
    display: flex;
    width: 17vw;
    height: 80px;
    background-color:#222222;
    margin-bottom: 40px;
    margin-right: 2.5vw;
    border: 0.1px solid rgba(128, 128, 128, 0.45);

}
.card .card_logo{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    color: #ff5d56;
    border-right: 0.1px solid gray;
}
.card .card_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}


#project{
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    background-color:#151515;
}

#project .project_welcome_text{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    padding-top: 5vw;
}

#project .project_welcome_text #heading_name{
    color: #ff5d56;
    font-family: 'Berkshire Swash', serif;
}
#project .project_welcome_text h4{
    color: gray;
}
#project .project_welcome_text #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -15px;
}

#project .pro_content{
    width: 80%;
    height: fit-content;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pro_content .pro{
    width: 18vw;
    height: 18vw;
    background-color: red;
}
.pro_content .pro .pro_inner{
    margin:5%;
    width: 70%;
    height: 70%;
    background-color: #222222b5;
    padding: 10%;
    line-height: 30px;
    /* display: none; */
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}
.pro .pro_inner .text{
    opacity: 0;
    position: relative;
    top: 20px;
    transition: all 0.8s ease-in-out;
    
}
.pro .pro_inner .text p{
    font-size: 15px;
    color:#ff5d56;
}
.pro:hover .pro_inner .text{
    opacity: 1;
    top:0;
}
.pro:hover .pro_inner{
    opacity: 1;
}
.pro_content #one{
    background:url('./p1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #two{
    background:url('./p2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #three{
    background:url('./p3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #four{
    background:url('./p4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #five{
    background:url('./p5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #six{
    background:url('./p6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pro_content #seven{
    background:url('./p7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_content #eight{
    background:url('./p8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes show {
    0%{
        /* display: none; */
        opacity: 0;
    }
    100%{
        opacity: 1;
        /* display: block; */
    }
}
#contact{
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    background-color:#111111;
    padding-top: 6vw;
    padding-bottom: 6vw;
}
#contact .contact_welcome_text{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

#contact .contact_welcome_text #heading_name{
    color: #ff5d56;
    display: flex;
    justify-content: center;
    font-family: 'Berkshire Swash', serif;
}
#contact .contact_welcome_text h4{
    color: gray;
    padding-top: 10px;
}
#contact .contact_welcome_text #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -30px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.form{
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
form{
    width: 55%;
    height: fit-content;
    /* background-color: red; */
    display:flex;
    flex-wrap: wrap;
    gap:2vw;
    justify-content: center;
}
form input{
    padding-left: 20px;
    font-size: 15px;
    background-color:#222222;
    border: 0.1px solid rgba(84, 83, 83, 0.521);

}
form #name,#email{
    width: 48.16%;
    height: 50px;
}
form #subject{
    width: 100%;
    height: 50px;
}
form #form_text{
    width: 100%;
    height: 120px;
}
form #btn{
    width: 150px;
    height: 50px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ff5d56;
    border: 0.1px solid #ff5d56;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
form #btn:hover{
    background-color: #ff5d56;
    color:white;
}
#contact .contact_info{
    width: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    /* overflow: hidden; */
}
.contact_info .info{
    width: 26vw;
    height: 170px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1px;
}
.info .hov1{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color:#ff5d56;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.info .hov2{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color:#ff5d56;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.info:hover .hov2{
    /* width: 0; */
    height: 100%;
}
.info:hover .hov1{
    width: 100%;
    /* height: 100%; */
}
.contact_info .info .in{
    background-color:#222222;
    width: 100%;
    height: 100%;
    
    /* padding-top: 20px;
    padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    z-index: 19;
}
.contact_info .info .in hr{
    width: 3vw;
    height: 1.5px;
    background-color: #ff5d56;
    border: 1px solid #ff5d56;
}
.info .in p{
    /* background-color: green; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
    color:gray;

}

#footer{
    width: 100vw;
    height: fit-content;
    padding-top: 4vw;
    padding-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer .name{
    font-family:'Berkshire Swash', serif;
    font-size: 40px;
    padding: 30px;
}
#footer .name #first{
    color:#ff5d56;
}
#footer .footer_container{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}
.footer_container .logos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.logos .logo{
    text-decoration: none;
    color:gray;
    width: 60px;
    height: 60px;
    background-color: rgba(59, 59, 59, 0.31);
    border-radius: 50% 50%;
    border: 0.1px solid rgba(128, 128, 128, 0.224);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.logos .logo:hover{
    background-color: transparent;
    color:#ff5d56;
    border: 0.1px solid #ff5d56;
}
.footer_container p{
    text-align: center;
    font-weight: 300;
}
.footer_container hr{
    width: 10%;
    margin-bottom: 5%;
}
.footer_container p a{
    /* text-decoration: none; */
    color:gray;
}
.footer_container p a:hover{
    /* text-decoration: none; */
    color:#ff5d56;
}


@media (max-width:1024px) {
    .nav .menu{
        display: none;
    }
    .nav .logo{
        width: 80%;
    }
    .hamburger{
        display: block;
    }
    .landing_page .side_text{
        width: 65%;
    }
    .landing_page .side_text .animated_text::after{
        font-size: 6vmin;
    }
    @keyframes side {
        0%{
            left: 60vmin;
        }
        30%{
            left: 0vw;
        }
        60%,100%{
            left: 60vmin;
        }
    }
    .landing_page .side_text p{
        width: 90%;
        font-size: 3vmin;
    }
    .landing_page .side_text h3{
        font-size: 3.5vmin;
    }
    .landing_page .side_text button{
        width: 20vmax;
    }
    #about{
        height: 210vh;
    }
    #about .about_content{
        flex-direction: column;
        align-items: center;
        
    }
    #about .about_content .image_section{
        width: 300px;
        
    }
    #about .about_content .text_section{
        margin-top: 57vh;
        font-size: 16px;
    }
    #about .about_content .text_section p{
        font-size: 16px;
    }
    
    #services .serv_box_container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #services .serv_box_container .serv_container{
        width: 80%;
        margin-right: 15px;
    }
    #resume{
        height: fit-content;
        /* gap: 10px; */
    }
    #resume .res_welcome_content{
        padding-top: 10vw;
        padding-bottom: 5vw;
        /* background-color: red; */
    }
    #resume .res_container{
        height: 120vh;
        
        /* background-color: red; */
    }
   

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100px, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }

    #resume .res_container{
        flex-direction: column;
        gap: 50px;
    }
    #resume .res_container .res_cara_all{
        width: 80%;
        /* gap: 30px; */
    }
    .lower{
        flex-direction: column;
        gap: 30px;
        height: fit-content;
        padding-top: 0;
        padding-bottom: 0;
    }
    .lower .ratings{
        width: 100%;
        height: fit-content;
    }
    .lower .ratings .rating_content{
        width: 20vw;
    }
    .lower .achivements{
        width: 100%;
        height: fit-content;
        
    }
    .achivements .achive_cards{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .achive_cards .card{
        width: 100%;
    }
    .card .card_logo{
        width: 70px;
    }

    #project .pro_content{
        flex-wrap: wrap;
    }
    #project .pro_content .pro{
        width: 38vw;
        height: 38vw;
    }
    #contact .contact_info{
       flex-direction: column;
    }
    #contact .contact_info .info{
        width: 100%;
    }
    

    
}
@media (max-width:804px) {
    #contact .form form{
        width: 90%;
        gap: 20px;
    }
    form #name,#email{
        width: 100%;
    }
    #footer .name{
        font-size: 5vw;
    }
    #footer .footer_container{
        width: 90vw;
        font-size: 3vw;
    }
    .footer_container .logos .logo{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
}