@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
}



html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(16, 15, 15);
    color: white;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
/* font-family: 'Lato', sans-serif; */
}
.nav{
    width: 100%;
    height: 13vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
}
.nav .logo{
    width: 40%;
    /* background-color: red; */
    font-size: 30px;
    /* padding-left: 40px; */
}
.nav .logo #lf{
    color:#ff5d56;
}
.nav .menu{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hamburger{
    display: none;
    border: 1px solid white;
    padding: 5px 10px 5px 10px ;
}
.nav .menu a{
    font-weight: 400;
    
    font-size: small;
    text-decoration: none;
    color: rgb(225, 223, 223);
}
.nav #drop_menu{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.464);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13vh;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    display: none;
   
}
.nav #drop_menu a{
    font-weight: 400;
    
    font-size: small;
    text-decoration: none;
    color:white;
}
.nav .menu a:hover{
    color: #ff5d56;
}
.landing_page{
    background-image: url('./land_page_bg.jpeg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing_page .side_text{
    width: 50%;
    height: fit-content;
    line-height: 55px;
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 12vh;
    overflow: hidden;
}


.landing_page .side_text .animated_text{
    padding:10px 0px 20px 0px ;
}
.landing_page .side_text .animated_text::after{
    content: "Web Developer....";
    color: #ff5d56;
    font-size: 8vmin;
    padding: 10px 0px 30px 0px;
    animation: text_change 9s infinite;
}
@keyframes text_change {
    0%{
        content: "Web Developer....";
    }
    33.3%{
        content: "Frontend Developer";
    }
    66.6%{
        content: "FullStack Developer";
    }

}

.landing_page .side_text .black{
    width: 76vmin;
    height: 10vmin;
    background-color: #060606;
    position: absolute;
    animation: side 3s infinite;
    border-left: 2px solid white;
}

@keyframes side {
    0%{
        left: 76vmin;
    }
    30%{
        left: 0vw;
    }
    60%,100%{
        left: 76vmin;
    }
}

.landing_page .side_text p{
    width: 80%;
    line-height: 30px;
    font-size: larger;
}
.landing_page .side_text button{
    width: 30vmin;
    height: 18%;
    padding: 20px ;
    background-color: transparent;
    color: white;
    border: 2px solid white;
   
    border-radius: 5px 5px 5px 5px;

}
.landing_page .side_text button:hover{
    color:#ff5d56;
    border: 2px solid #ff5d56;
}
/* .landing_page .side_text button::before{
    content: " ";
    position: absolute;
    display: inline-block;
    width: 30vmin;
    overflow: hidden;
    height: 20px;
    background-color: red;
    
} */

#about{
    width: 100vw;
    height: 115vh; 
    background-color: #111111;
    /* overflow: hidden; */
}
#about .about_welcome_content{
    width: 100%;
    height: 20%;
    padding-top: 5%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
   
}

#about .about_welcome_content #heading_name{
    color: #ff5d56;
}
#about .about_welcome_content #dot{
    color: #ff5d56;
    font-size: 70px;
    margin-top: -15px;
}
#about .about_content{
    display: flex;
    padding: 2% 8% 2% 8%;
    gap: 50px;
}
#about .about_content .image_section{
    width: 700px;
    position: relative;
}

#about .about_content .image_section img{
    width: 100%;
    position: absolute;
    height: 56vh;
    /* display: none; */

}
#about .about_content .image_section .image_border{
    /* z-index: 10; */
    position: absolute;
    border: 1px solid white;
    height: 55vh;
    width: 100%;
    left: 8px;
    top:15px;
    opacity: 0.1;
}
#about .about_content .text_section{
    color: gray;
}
#about .about_content .text_section h6{
    margin: 20px 0px 20px 0px;
    width: 50px;
    height: 5px;
    background-color:#ff5d56;
}
#about .about_content .text_section p{
    font-size: large;
}

#about .about_content .text_section .about_hilights{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 30px;
    width: 100%;
    height: 27%;
}
#about .about_content .text_section .about_hilights i{
    color:#ff5d56;
}

@media (max-width:1024px) {
    .nav .menu{
        display: none;
    }
    .nav .logo{
        width: 80%;
    }
    .hamburger{
        display: block;
    }
    .landing_page .side_text{
        width: 65%;
    }
    .landing_page .side_text .animated_text::after{
        font-size: 6vmin;
    }
    @keyframes side {
        0%{
            left: 60vmin;
        }
        30%{
            left: 0vw;
        }
        60%,100%{
            left: 60vmin;
        }
    }
    .landing_page .side_text p{
        width: 90%;
        font-size: 3vmin;
    }
    .landing_page .side_text h3{
        font-size: 3.5vmin;
    }
    .landing_page .side_text button{
        width: 20vmax;
    }
    #about{
        height: 197vh;
    }
    #about .about_content{
        flex-direction: column;
        align-items: center;
        
    }
    #about .about_content .image_section{
        width: 300px;
        
    }
    #about .about_content .text_section{
        margin-top: 57vh;
        font-size: 16px;
    }
    #about .about_content .text_section p{
        font-size: 16px;
    }
}
@media (min-width:1024px) {
    
    #drop_menu{
        display: none;
    }
}